body{
    text-align: center;
    
    padding-top: 5%;
}
.App{
    padding-top: 5%;
    padding-left: 28%;
}


.recipe{
    padding-top: 3%;
    padding-right: 25%;
}

.recipe-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10ox;
    padding: 5px;
}

.recipe-text{
    display: inline-block;
    text-align:center;
    padding-right: 10px;
    width: 400px;;
}
.recipe-image{
    display:inline-block;
    right: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 2px;

}


.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }